.footer{
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 60%;
    background-color: #f5f5f5;
}
.navbar-header img{
    height: 40px;

}
.picture img{
    width: 100%;
}